<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAntdOxEh1ELQdfDdU-YKhSvGfF3ucOSrc</string>
	<key>GCM_SENDER_ID</key>
	<string>835561877604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eosProject</string>
	<key>PROJECT_ID</key>
	<string>eos-project-ed5b0</string>
	<key>STORAGE_BUCKET</key>
	<string>eos-project-ed5b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835561877604:ios:40a21e9ebd036b8cda6f71</string>
</dict>
</plist>